<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>MENU | Container-dev All-In-One !</title>
    <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css" />
  </head>
  <body>
    <h1 class="m-6 border-bottom">Container-dev All-In-One !</h1>
	<div class="m-6">
	    <nav class="menu" aria-label="Primer">
          <span class="menu-heading color-bg-accent" id="menu-heading">Menu</span>
		  <a class="menu-item" href="http://dev.sample.local:8929/" target="_blank">
			  GitLab 
		  </a>
		  <a class="menu-item" href="http://dev.sample.local:9001/" target="_blank">
			  SonarQube
		  </a>
		  <a class="menu-item" href="http://dev.sample.local:9000/" target="_blank">
			  Portainer
		  </a>
		</nav>
	</div>
  </body>
</html>